h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 2rem 0 1rem 0;
    text-align: center;
}

.underline {
    width: 6rem;
    height: 0.25rem;
    background: #27aedb;
    margin: 0.5rem auto 2rem auto;
    border-radius: 2px;
}